html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, code, img,
small, strong, sub, sup, b, u, i,
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
figure, figcaption, footer, header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Ubuntu", "Droid Sans", sans-serif, "Meiryo";
  line-height: 1.2;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 12px;
}
h1, h2, h3, h4, h5 {
  font-family: "Hiragino Mincho Pro W6", "ヒラギノ明朝 Pro W6";
}
ul, p, a, span {
  font-size: 8.8px;
}
p, a, span {
  line-height: 1.6;
}
b, strong {
  font-weight: 700;
}

h1 {
	padding-bottom: 0.3em;
	line-height: 1.2;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
h2 {
  margin-top: 10px;
  margin-bottom: 0.2em;
  padding-bottom: 0.1em;
  border-bottom: solid 1px #000000;
}